<div>
  <a id="links" href="/research.html">Selected Recent Work</a>&nbsp;&#9679;&nbsp;
  <a id="links" href="/research/manipulation.html">Object Manipulation</a>&nbsp;&#9679;&nbsp;
  <a id="links" href="/research/omrc.html">Optimal Multi-Robot Coverage</a>&nbsp;&#9679;&nbsp;
  <a id="links" href="/research/mrmp.html">Multi-Robot Motion Planning</a>&nbsp;&#9679;&nbsp;
  <a id="links" href="/research/ipp.html">Informative Path Planning</a>&nbsp;&#9679;&nbsp;
  <a id="links" href="/research/is.html">Information Spaces</a>
</div>  
